<form [formGroup]="formGroup">
  <div formArrayName="workExperienceDetails" class="education-details">
    @for (institution of workExperienceDetails.controls; track institution; let i = $index) {
      <div [formGroupName]="i" class="education">
        <mat-form-field appearance="outline">
          <mat-label>Місце роботи</mat-label>
          <input matInput formControlName="workName" />
          @if (institution.get('workName')?.hasError('required')) {
            <mat-error>Введіть ваше місце роботи</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Початок праці</mat-label>
          <input matInput type="date" formControlName="startDate" />
          @if (institution.get('startDate')?.hasError('required')) {
            <mat-error>Введіть дату початку праці</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Закінчення праці</mat-label>
          <input matInput type="date" formControlName="endDate" />
          @if (institution.get('endDate')?.hasError('required')) {
            <mat-error>Введіть дату закінчення праці</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Посаду</mat-label>
          <input matInput formControlName="position" />
          @if (institution.get('position')?.hasError('required')) {
            <mat-error>Введіть вашу посаду</mat-error>
          }
        </mat-form-field>
        @if (workExperienceDetails.length > 1) {
          <button mat-icon-button color="warn" (click)="removeWorkExperience(i)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        }
      </div>
    }
  </div>
  <button mat-button color="primary" (click)="addWorkExperience()">Додати досвід роботи</button>
</form>
